Source: flashrom
Section: electronics
Priority: extra
Maintainer: Uwe Hermann <uwe@debian.org>
Build-Depends: cdbs, debhelper (>= 5), libpci-dev
Standards-Version: 3.8.1
Homepage: http://coreboot.org/Flashrom

Package: flashrom
Architecture: amd64 i386 kfreebsd-amd64 kfreebsd-i386 alpha hurd-i386 netbsd-alpha netbsd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility for reading, writing, and erasing BIOS/ROM/flash chips
 Flashrom is a utility for reading, writing, and erasing flash ROM chips.
 It's often used to flash BIOS/coreboot/firmware images.
 .
 It supports a wide range of DIP32, PLCC32, DIP8, SO8/SOIC8, TSOP32, and
 TSOP40 chips, which use various protocols such as LPC, FWH, parallel flash,
 or SPI.
 .
 The tool can be used to flash BIOS/firmware images for example -- be it
 proprietary BIOS images or coreboot (previously known as LinuxBIOS) images.
 .
 It can also be used to read the current existing BIOS/firmware from a
 flash chip.

