#!/usr/bin/make -f
  
DEB_MAKE_INSTALL_TARGET := install PREFIX=$(CURDIR)/debian/flashrom/usr
LDFLAGS += -lpci -lz
CFLAGS += -DDISABLE_DOC -D'FLASHROM_VERSION=\"3112\"'

clean::
	rm -f flashrom .dependencies core

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

